<div id="header">
  <div>
    <a href="<%= root_path %>" class="logo"><img src="<%= asset_path('logo.png') %>" alt=""></a>
    <ul id="navigation">
      <li class="selected">
        <a href="<%= root_path %>">Home</a>
      </li>
      <li>
        <a href="<%= about_path %>">About</a>
      </li>
      <li class="menu">
        <a href="<%= projects_path %>">Projects</a>
        <ul class="primary">
          <li>
            <a href="proj1.html">proj 1</a>
          </li>
        </ul>
      </li>
      <li class="menu">
        <a href="<%= blog_path %>">Blog</a>
        <ul class="secondary">
          <li>
            <a href="singlepost.html">Single post</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="<%= contact_path %>">Contact</a>
      </li>
    </ul>
  </div>
</div>
